main .tweet-button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: white;
}

main .tweet-button:hover {
  transform: scale(1.1);
}

main .tweet-box {
  width: 90%;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.red {
  color: red;
}

main output {
  font-family: "Bungee", sans-serif;
  justify-content: flex-end;
  display: flex;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

main label {
  display: block;
  margin-left: 1.9em;
}