article.tweet {
  margin: 10px;
  border: 5px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

article.tweet:hover {
  box-shadow: 10px 5px 5px lightgray;
}

article.tweet header {
  width: 100%;
  /* height: 400px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: darkgray;
  /* Add some padding at the top */
}

article.tweet header h4 {
  color: #ccc;
  display: flex;
  justify-content: space-between;
}

article.tweet header h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header h3 img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

article.tweet footer {
  padding: 10px;
  justify-content: space-between;
  display: flex;
  border-top: 4px solid black;
}

article.tweet p,
article.tweet footer {
  padding-left: 25px;
  padding-right: 25px;
}

article.tweet footer div.icons i {
  color: #4056A1;
}

article.tweet footer div.icons i:hover {
  color: rgb(136, 136, 2);
}

.head-down {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* @media only screen and (max-width: 768px) { */
@media screen and (max-width: 1024px) {

  .head-down {
    flex-direction: column;
    margin-top: 0;
  }




  /* /* body {
    display: flex;
    flex-direction: column;

  }

  #page-header {
    float: left;
    width: 50%;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 50vw;
    height: 30%;
  }

  .container {
    float: right;
    width: 65%;
    margin-left: 25%;
  }

  #tweet {
    width: 50vw;
  }

  /* .new-tweet,
  .tweet {
    width: 100%;
  } */


  /* .tweet {
    float: right;
    width: 50%;
  }
/* .tweet {
    float: right;
    width: 50%;
  }

  .tweeting {
    float: right;
  }

  #page-header {
    float: left;
    width: 50%;
  } */



  float: left;
  width: 50%;
}

*/
}

.tweeting {
  float: right;
}

/* body {
    display: flex;
    flex-direction: column;

  }

  #page-header {
    float: left;
    width: 50%;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 50vw;
    height: 30%;
  }

  .container {
    float: right;
    width: 65%;
    margin-left: 25%;
  }

  #tweet {
    width: 50vw;
  }

  /* .new-tweet,
  .tweet {
    width: 100%;
  } */
}